.body {
    // Global Modifications

    text-align: center;
    overflow: hidden;

    h2 {
        color: $veryDarkBlue;
    }

    p {
        color: $veryDarkGreyishBlue;
    }

    // Introduction Part

    .introduction {
        position: relative;
        margin: 6.75rem 0 16.875rem 0;

        @include breakpoint-up("large") {
            margin: 0rem;
            padding-top: 10rem;
            height: 1000px;
        }

        &__text {
            @include breakpoint-up("large") {
                text-align: left;
                width: 50%;
            }
        }

        &__heading {
            margin-top: 0rem;
            margin-bottom: 1.5rem;

            @include breakpoint-up("large") {
                margin-bottom: 6.875rem;
            }
        }

        &__image__mobile {
            height: 335px;
            background-image: url(../images/illustration-editor-mobile.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 -1.5rem;
        }

        &__image__desktop {
            position: absolute;
            top: 4.25rem;
            left: 50%;
            transform: scale(0.95);

            path#stroke-svg {
                transition: transform 450ms cubic-bezier(0.56, 0.06, 0.39, 1.61);
            }
        }
    }

    // Highlight Part

    .highlight {
        position: relative;
        margin: 0 -1.5rem;
        @include breakpoint-up("large") {
            margin: 0 -8rem;
        }
        padding-top: 14.375rem;
        padding-bottom: 7.5rem;
        @include breakpoint-up("medium") {
            padding-top: 7.5rem;
        }
        background-image: url(../images/bg-pattern-circles.svg), $bodyGradient;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: -108% 90%, center;
        @include breakpoint-down("small") {
            background-size: 150%, auto;
            background-position: 50% -200px, center;
        }

        border-radius: 0 97px 0 97px;

        &__phones {
            position: absolute;
            max-width: 375px;
            top: -184px;
            left: 50%;
            transform: translateX(-50%);

            @include breakpoint-up("medium") {
                top: 47px;
                left: 26%;
            }

            @include breakpoint-up("large") {
                max-width: 600px;
                top: -65px;
                left: 26%;
            }
        }

        &__heading {
            color: $white;
            margin: 0;
            margin-bottom: 1.5625rem;

            @include breakpoint-down("medium") {
                font-size: $font-large;
            }
        }

        p {
            color: $white;
            margin: 0;
        }

        .text--block {
            position: relative;
            margin-top: 0;

            @include breakpoint-up("medium") {
                width: 50%;
                left: 50%;
            }
        }
    }

    // Features

    .features {
        // All the previous styles are included

        margin-top: 3.125rem;
        margin-bottom: 4.6875rem;
        position: relative;

        &__image__mobile {
            height: 335px;
            background-image: url(../images/illustration-laptop-mobile.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 -4em;
        }

        @include breakpoint-up("large") {
            margin: 0rem;
            padding: 19.25rem 0;
        }

        &__text {
            position: relative;

            @include breakpoint-up("large") {
                text-align: left;
                left: 50%;
                width: 50%;

                &__section:first-of-type {
                    margin-top: 0;
                }
            }
        }

        &__image__desktop {
            position: absolute;
            top: 6.25rem;
            right: 50%;
            transform: scale(0.95);
        }
    }
}
