//fonts

$overpass: Overpass, sans-serif;
$ubuntu: Ubuntu, sans-serif;

//font-sizes
$font-small: 1rem;
$font-smaller-med: 1.25rem;
$font-med: 1.5625rem;
$font-larger-med: 1.6875rem;
$font-large-mobile: 1.9rem;
$font-large: 2.25rem;
$font-xlarge: 3.6rem;

//colors

$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);

$greyishBlue: hsl(240, 3%, 79%);
$greyishBlueAlpha: hsla(240, 3%, 79%, 0.4);
$veryDarkGreyishBlue: hsl(207, 13%, 34%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);

$white: hsl(0, 0%, 100%);

$heroGradient: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
);
$bodyGradient: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
