html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: $ubuntu;
    font-size: $font-small;
    font-weight: 500;
    color: $white;
    margin: 0;
    padding: 0;
    line-height: 1.3;

    &.noscroll {
        overflow: hidden;
    }
}

// Flexbox

.flex {
    display: flex;

    &-jc-c {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }

    &-fd-c {
        flex-direction: column;
    }
}

//links

a,
a:visited,
a:hover {
    text-decoration: none;
}

.container {
    padding: 0 8em;
    @include breakpoint-down("medium") {
        padding: 0 1.5em;
    }
}

//typography

h1 {
    font-family: $overpass;
    font-size: $font-xlarge;
    font-weight: 600;

    @include breakpoint-down("medium") {
        font-size: $font-large;
    }

    @include breakpoint-down("small") {
        font-size: $font-large-mobile;
    }
}

h3 {
    font-family: $overpass;
    font-size: $font-smaller-med;
    font-weight: 300;

    @include breakpoint-down("medium") {
        font-size: $font-small;
    }
}

// Shadow

.shadow-cast {
    box-shadow: 0 0 2em 0.3rem rgba(0, 0, 0, 0.2);
}

// Arrow

.arrow {
    margin-left: 0.4em;

    &.open > svg {
        transform: rotate(180deg);
    }
}
