.header {
    position: relative;
    background-image: url(../images/bg-pattern-intro.svg), $heroGradient;
    background-position: 25%, center;
    background-size: auto;
    @include breakpoint-down("medium") {
        background-position: 35% 35%, center;
        background-size: 322%, auto;
    }
    background-repeat: no-repeat;
    height: 37.5rem;
    border-radius: 0 0 0 97px;

    nav {
        padding-top: 3.5rem;
        margin-bottom: 10rem;
        @include breakpoint-down("medium") {
            margin-bottom: 7rem;
        }
    }

    &__logo {
        margin: 0;
        width: 5.25;
        height: 2.06;
    }

    &__hamburger {
        margin: 0;
        cursor: pointer;

        > span {
            display: block;
            width: 2.125rem;
            height: 0.25rem;
            background: #fff;
            transform-origin: 3px;
            transition: transform 450ms cubic-bezier(0.16, 0.66, 0.32, 1.16),
                opacity 450ms ease;

            &:not(:last-of-type) {
                margin: 0;
                margin-bottom: 0.375rem;
            }
        }
    }

    &__dropdown {
        @include ul-nostyle;

        > li {
            margin-left: 1.8em;
            color: $greyishBlue;
            position: relative;

            &:hover {
                cursor: pointer;
                color: $white;
                text-decoration: underline solid 2px;
            }
        }

        &__menu {
            @include ul-nostyle;
            display: none;
            position: absolute;
            font-weight: 400;
            text-align: start;
            width: 10.625em;
            padding: 2.18em 1.1625em;
            top: 2.5em;
            left: -1.25em;
            background: $white;
            border-radius: 5px;
            z-index: 100;

            > li {
                color: $veryDarkGreyishBlue;

                &:not(:last-of-type) {
                    margin-bottom: 1.437rem;
                }

                &:hover {
                    cursor: pointer;
                    font-weight: 500;
                    color: $veryDarkBlackBlue;
                    text-decoration: none;
                }
            }

            // For Hamburger

            &.dropdown--hamburger {
                // position: absolute;
                background-color: $greyishBlueAlpha;
                top: 0;
                left: 0;
                width: 17.4375rem;
                font-size: $font-smaller-med;
                font-weight: 600;

                > li {
                    opacity: 1;
                    padding: 0;
                    color: $veryDarkGreyishBlue;
                    cursor: pointer;

                    &:not(:last-of-type) {
                        margin-bottom: 1.5625rem;
                    }

                    &:hover,
                    &:focus {
                        color: $veryDarkBlackBlue;
                        font-weight: 600;
                    }
                }
            }
        }

        // For intro

        & .open {
            .header__dropdown__menu {
                display: block;
            }
        }
    }

    &__menu {
        display: none;
    }

    //Hambuerger Opened
    &.open {
        .header__hamburger {
            > span:first-child {
                transform: rotate(45deg);
            }
            > span:nth-child(2) {
                opacity: 0;
                transform: rotate(45deg);
            }
            > span:last-child {
                transform: rotate(-405deg);
            }
        }
    }

    .header__menu {
        display: flex;
        @include breakpoint-up("large") {
            display: none;
        }
        position: absolute;
        top: 25%;
        width: calc(100% - 3rem);
        padding-top: 1.187rem;
        padding-bottom: 2.375rem;
        font-family: $overpass;
        font-weight: 600;
        text-align: center;
        background: $white;
        border-radius: 5px;
        z-index: 200;

        &__items {
            @include ul-nostyle;
            font-size: $font-smaller-med;

            > li {
                display: block;
                color: $veryDarkBlackBlue;
                padding: 1.187rem 0;
                cursor: pointer;
            }

            > li:nth-of-type(even) {
                margin: 0;
                padding: 0;

                .header__dropdown__menu {
                    display: flex;
                    cursor: default;
                    position: relative;
                    padding: 0 1.1625rem;
                    max-height: 0;
                    transition: max-height 250ms ease-out,
                        padding 250ms ease-out;

                    // Hambuger Item Opened

                    &.open {
                        color: $veryDarkGreyishBlue;
                        padding-block: 1.5625rem;
                    }
                }
            }
        }

        &__partition {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            opacity: 0.4;
            margin-top: 2rem;
            background-color: $greyishBlue;
        }

        &__cta {
            a {
                display: block;
                margin: 0 auto;
                font-family: $ubuntu;
                font-weight: 500;
            }
        }
    }

    // Hero

    .hero {
        text-align: center;

        &__heading {
            margin: 0 0 3.125rem 0;

            h1 {
                margin: 1.5rem;
            }

            h3 {
                margin: 0;
            }
        }

        .start-cta {
            width: 18.125rem;
            margin: 0 auto;
        }
    }
}
